
/* Adjusting layout styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  min-height: 100vh; /* Ensure full viewport height */
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
}

nav ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}

h1 {
  padding-top: 50px;
}

main {
  width: 80%;
  padding: 20px;
  box-sizing: border-box;
}

.quote-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.quote-container button {
  margin-top: 10px;
}

.code-container {
  background-color: #333; /* Dark grey for code container */
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}